@font-face {
    font-family: 'Quicksand-Light';
    src: url('./fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('./fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: "Helvetica-Light";
    src: url('./fonts/Helvetica-Light-font.otf');
}